/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chart-options,
.mapping-options {
  margin-bottom: 20px;
  text-align: center;
}

.mapping-options > div {
  margin-bottom: 10px;
}

.mapping-options label {
  font-weight: bold;
  margin-right: 10px;
}

.mapping-options select,
.chart-options select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.drop-area {
  padding: 2rem;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.loading {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}